#!/bin/bash

# this is a sample file that contains environment variables used by kantra
# by default, values for these variables are set to work in the docker image
# when running locally, you will need to tweak these values as per your env
# copy this file to `env.local` and source it in your bash session to use CLI

PODMAN_BIN=
RUNNER_IMG=