[
    {
        "name": "go",
        "initConfig": [{
            "analysisMode": "full",
            "providerSpecificConfig": {
                "lspServerArgs": [],
                "lspServerInitializationOptions": ""
            }
        }]
    }
]
