[
    {
        "name": "java",
        "initConfig": [{
                "providerSpecificConfig": {
                    "bundles": "",
                    "depOpenSourceLabelsFile": "",
                    "jvmMaxMem": "",
                    "mavenSettingsFile": ""
                },
                "analysisMode": "source-only"
            }]
    }
]
